<div style="display: none" class="status alert alert-success"></div>
<%= form_for @order, class: "contact-form row", id:"main-contact-form" do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-12">
	<%= f.select :status, options_for_select([["Fulfilled" ,true],["UnFulfilled", false]], @order.status), class: "form-control" %>
    </div>
  <div class="form-group col-md-12">
	<input type="submit" value="Submit" class="btn btn-primary pull-right" name="submit">
    </div>
<% end %>